.plan {
	position: relative;
	padding-top: 48px;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		transform: translate(-50%, 50%);
		width: 580px;
		height: 580px;
		z-index: -1;
		background: #57D211;
		opacity: .1;
		filter: blur(100px);

		@media($tablet) {
			background: none;
			width: 0;
		}
	}
}

.plan__number-title {
	font-style: normal;
	font-weight: 800;
	font-size: 65px;
	line-height: 135%;
	color: #F1E9D5;
	padding-right: 26px;

	@media($mobile) {
		font-size: 50px;
		line-height: 100%;
	}
}

.plan__number-text {
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 125%;
	text-transform: uppercase;

	color: #000000;

	@media($mobile) {
		font-size: 16px;

		span {
			display: block;
		}
	}
}

.plan__number-inner {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.plan__number-list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
	align-items: center;
	padding-top: 30px;

	@media($laptop) {
		flex-wrap: wrap;
		justify-content: space-evenly;

		span {
			display: block;
		}
	}

	@media($mobile) {
		flex-direction: column;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		align-items: flex-start;
		padding-top: 15px;
	}
}

.plan__title {
	@media($tablet) {
		text-align: center;
	}
}

.plan__faza-header {
	position: relative;
	isolation: isolate;

	img {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, -60%);

		@media($mobile) {
			width: 180px;
			object-fit: contain;
		}
	}

	background: linear-gradient(90deg, #CAA669 0%, #CAA669 100%);

	padding: 65px 15px 15px 15px;
	border-radius: 45px 45px 0 0;

	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 135%;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;

	@media($mobile) {
		font-size: 22px;
		border-radius: 30px 30px 0 0;
		padding: 42px 15px 10px 15px;
		font-size: 22px;
	}
}

.plan__faza-body {
	background: #FFFFFF;
	border-radius: 0 0 45px 45px;
	padding: 30px 27px;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 115%;
	color: #000000;
	text-align: center;

	@media($mobile) {
		border-radius: 0 0 30px 30px;
		padding: 20px;
		font-size: 16px;
	}
}

.plan__faza-inner {
	border-radius: 45px;
	box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.2);
	background: #FFFFFF;
	max-width: 310px;

	@media($mobile) {
		max-width: 100%;
		border-radius: 30px;

		&:nth-child(1) {
			.plan__faza-header {
				img {
					width: 200px;
				}
			}
		}

		&:nth-child(2) {
			.plan__faza-header {
				img {
					width: 180px;
				}
			}
		}

		&:nth-child(3) {
			.plan__faza-header {
				img {
					width: 140px;
				}
			}
		}
	}
}

.plan__faza-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 100px 40px;
	padding-top: 120px;

	@media($tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	@media($mobile) {
		grid-template-columns: 100%;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		gap: 100px;
		padding-top: 95px;
		gap: 80px;
	}
}

.plan__box-img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-43%);
	isolation: isolate;
	z-index: -1;

	@media($tablet) {
		display: none;
	}
}

.plan__back-img {
	position: absolute;

	z-index: 1;
	top: 0;
	left: 0;
}

.plan__wrapp {
	max-width: 1000px;
}

.plan__container {
	max-width: 1560px;
}

.plan__back-img-1 {
	top: 18%;
	left: 0%;
}

.plan__back-img-2 {
	top: 43%;
	left: 4%;
}

.plan__back-img-3 {
	top: 56%;
	left: -8%;
}

.plan__back-img-4 {
	left: 84%;
	top: 27%;
}

.plan__back-img-5 {
	left: 83%;
	top: 27%;
}

.plan__back-img-6 {
	left: 77%;
	top: 59%;
}
