.reviews {
	padding-top: 115px;
	position: relative;

	@media($mobile) {
		padding-top: 141px;
	}
}

.reviews-swiper {
	overflow: hidden;
}

.reviews-title {

	font-style: normal;
	font-weight: 300;
	font-size: 55px;
	line-height: 135%;
	text-align: center;
	text-transform: uppercase;

	color: #000000;

	@media($mobile) {
		font-size: 24px;
	}

	max-width: 616px;
	margin-left: auto;
	margin-right: auto;
}

.reviews-title-span {
	position: relative;
	isolation: isolate;
	display: inline-block;
	min-width: 180px;

	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 135%;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;

	text-shadow: 0px 4px 15px rgba(166, 82, 3, 0.3);

	padding: 10px 30px 10px 0;
	margin-right: 10px;

	&::after {
		content: "";
		position: absolute;
		right: 10px;
		top: 0;
		width: calc(100% + 30px);
		height: 100%;
		z-index: -2;
		background: linear-gradient(90deg, #E36E00 0%, #F8B90D 100%);
		box-shadow: 0px 10px 25px rgba(227, 110, 0, 0.2);
		mask: url("../../assets/img/reviews/form.png");
		mask-position: center center;
		mask-repeat: no-repeat;
		mask-size: 100% 100%;

		@media($mobile) {
			width: calc(100% + 20px);
		}
	}

	&::before {
		content: "";
		top: 50%;
		left: 0;
		transform: translate(-118%, -50%);
		width: 102px;
		height: 116px;
		position: absolute;
		z-index: -1;
		background: url('../../assets/img/reviews/alert.png')no-repeat center center/contain;

		@media($mobile) {
			width: 58px;
			height: 66px;
			left: 34px;
		}
	}

	@media($mobile) {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 168px;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 14px;
		height: 46px;
		font-size: 28px;
		left: 21px;
		padding-right: 2px;
	}
}

.reviews-box-title {

	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 135%;

	text-align: center;
	text-transform: uppercase;

	color: #CAA669;

	@media($mobile) {
		font-size: 15px;
	}
}

.reviews-box-text {

	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 115%;
	text-align: center;
	color: #000000;
	padding-top: 15px;

	@media($mobile) {
		padding-top: 7px;
		font-size: 14px;
	}
}

.reviews-box-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 11px;

	img {
		width: 100%;
		object-fit: cover;
		aspect-ratio: 11/19;
		border-radius: 55px 0 0 55px;

		@media($mobile) {
			aspect-ratio: 61/106;
			border-radius: 40px 0 0 40px;
		}
	}

	img+img {
		border-radius: 0 55px 55px 0;

		@media($mobile) {
			border-radius: 0 40px 40px 0;
		}
	}


	border: 1px solid rgba(248, 185, 13, .2);
	border-radius: 55px;
	padding: 20px;

	@media($mobile) {
		padding: 10px;
		border-radius: 40px;
		gap: 6px;
	}
}

.reviews-swiper-container {
	position: relative;
	margin-top: 40px;
	margin-right: 10px;
	margin-left: 10px;

	@media($mobile) {
		margin-top: 13px;
	}
}

.reviews__swiper-btn {
	position: absolute;
	left: -75px;
	top: 50%;
	z-index: 2;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(-50%, -50%);

	img,
	svg {
		width: 100%;
		height: 100%;
		object-fit: contain;
		flex-shrink: 0;
	}

	@media(max-width:1750px) {
		left: 0;
		transform: translate(-14%, -50%);
	}

	@media($mobile) {
		width: 39px;
		height: 39px;
		top: 35%;
		transform: translate(-50%, -50%);
	}
}

.reviews__slide-prev {
	left: auto;
	right: -64px;
	transform: translate(50%, -50%);

	@media(max-width:1750px) {
		right: 0;
		transform: translate(14%, -50%);

	}

	@media($mobile) {
		transform: translate(50%, -50%);
	}
}

.reviews__btn {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;

	@media($mobile) {
		margin-top: 30px;
	}
}

.reviews-box-body {
	padding: 20px 30px 0 30px;

	@media($mobile) {
		padding-left: 0;
		padding-right: 0;
	}
}


.ruler__wrapp {
	position: absolute;
	left: 0;
	top: 0;
	left: -5%;
	top: -15%;

	&::after {
		content: "";

		top: 0;
		left: 0;
		transform: translate(-50%, -50%);
		z-index: -3;
		position: absolute;
		width: 458px;
		height: 458px;

		background: #57D211;
		opacity: .1;
		filter: blur(100px);

		@media($tablet) {
			width: 0;
			background: none;
		}
	}

	@media($mobile) {
		left: -14%;
		top: -1%;

		img {
			width: 280px;
		}
	}
}

.reviews__back-img {
	position: absolute;
	z-index: -1;

	@media($tablet) {
		display: none;
	}
}

.reviews__back-img-1 {
	left: 0;
	top: 62%;
}

.reviews__back-img-2 {
	left: -6%;
	top: 56%;
	z-index: -2;
}

.reviews__back-img-3 {
	right: -3%;
	top: 3%;
}

.reviews__back-img-4 {
	right: 4%;
	top: 35%;
}

.reviews__back-img-5 {
	right: -9%;
	top: 14%;
	z-index: -2;
}

.reviews-container {
	position: relative;
	z-index: 1;
}