.title {

	font-style: normal;
	font-weight: 300;
	font-size: 55px;
	line-height: 135%;
	text-transform: uppercase;

	color: #000000;

	span {
		font-weight: 800;
		color: #57D211;
	}

	@media($mobile) {
		font-size: 28px;
		text-align: center;
	}
}